.breadcrumb {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 2px solid #e0e0e0;
  border-radius: 9999px;
  padding: 12px 24px;
  font-size: 16px;
  margin: 0 10%;
  margin-bottom: 50px;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
}

.breadcrumb__link {
  color: #888;
  text-decoration: none;
}

.breadcrumb__link:hover {
  text-decoration: underline;
}

.breadcrumb__separator {
  margin: 0 8px;
  color: black;
}

.breadcrumb__current {
  color: #111;
}
