.home {
  background-attachment: fixed;
  background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5baf3d57ace69c149bb331b8_tim-gouw-165547-unsplash.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
}